#highlightClick{
    position: absolute;
    left: 30px;
    border: 3px solid #73AD21;	
	color: #73AD21
	z-index:1000;
	opacity: 0.5;
	height: 50px;
	width: 100px;
}

#mySidebar{
	top: 0px;
	bottom: 0px;
	left: 0px;
	position:fixed;
	background:#ffa;
	width:500px;
	min-width:50px;
	max-width:500px;
	height:300px;
	min-height: 10px;
	max-height: 500px;
	resize:both;
	overflow:auto;
	border-right:2px ridge #fe9;
	padding:20px;
	opacity: .99;
	background-color: white;
	z-index 10001;
}

.cwQuestion {
	font-weight: bold;
}

.h2 {
	text-align: center
}

.h3 {
	text-align: center
}

.rightAtribute{
	margin: 0;
	padding: 0;
	text-align: right;
}

ul.graph
{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
	
ul.graph li
{
	margin-bottom: .5em;
	padding: .2em;
	background: #600;
	color: #fff;
}
ul.graph li.facetMotivationAbby
{
	background: -webkit-linear-gradient(left, orange, orange 20%, red 40%, red);
}
	
ul.graph li.facetProcessingAbby
{
	background: -webkit-linear-gradient(left, orange, orange 80%, red 40%, red);
}

ul.graph li.facetSelfEffAbby
{
	background: -webkit-linear-gradient(left, orange, orange 30%, red 40%, red);
}

ul.graph li.facetRiskAbby
{
	background: -webkit-linear-gradient(left, orange, orange 60%, red 40%, red);
}

ul.graph li.facetTinkerAbby
{
	background: -webkit-linear-gradient(left, orange, orange 60%, red 40%, red);
}