#highlightClick{
    position: absolute;
    left: 30px;
    border: 3px solid orange;
	z-index:1000;
	opacity: 0.5;
	height: 50px;
	width: 100px;
}

.personaPhoto{
	height: 100px;
	width: 100px;
	float: left;
	z-index: 10002;
}

#abbyHeader{
}
#closeButton{
	display:inline;
	position:relative;
	left: 70%;
	bottom: 30px;
	
}
.personaPhotoContainer{
}
#mySidebar{
	top: 0px;
	bottom: 0px;
	left: 0px;
	position:fixed;
	background:#ffa;
	width:500px;
	min-width:50px;
	max-width:500px;
	height:300px;
	min-height: 10px;
	max-height: 500px;
	resize:both;
	overflow:auto;
	border-right:2px ridge #fe9;
	padding:20px;
	opacity: .99;
	background-color: white;
	z-index: 10001;
}

.cwQuestion {
	font-weight: bold;
}

.h2 {
	text-align: center
}

.h3 {
	text-align: center
}

.rightAtribute{
	margin: 0;
	padding: 0;
	text-align: right;
}

.personaLink{
	overflow:hidden;
	position:relative;
	left:10%;
	padding-bottom: 5px;
}
ul.graph
{
	margin: 1px;
	list-style-type: none;
		
}
	
ul.graph li
{

}
ul.graph li.facetMotivationAbby
{	
	/*background: -webkit-linear-gradient(left, blue 25%, orange 25%, orange);*/
	position: relative;
	left: 50%;
	top: 50%;
	width: 50%;
}
	
ul.graph li.facetProcessingAbby
{
	/*background: -webkit-linear-gradient(left, blue 25%, orange 25%, orange);*/
	position: relative;
	top: 50%;
	left: 50%;
	width:50%;
}

ul.graph li.facetSelfEffAbby
{
	/*background: -webkit-linear-gradient(left, blue 25%, orange 25%, orange);*/
	position: relative;
	top: 50%;
	left: 50%;
	width:50%;
}

ul.graph li.facetRiskAbby
{
	/*background: -webkit-linear-gradient(left, blue 25%, orange 25%, orange);*/
	position: relative;
	top: 50%;
	left: 50%;
	width:50%;
}

ul.graph li.facetTinkerAbby
{
	/*background: -webkit-linear-gradient(left, blue 25%, orange 25%, orange);*/
	position: relative;
	top: 50%;
	left: 50%;
	width:50%;
}

.personaParagraph{
	border-color: orange;
	border-style: solid;
    border-width: 3px;	
	padding: 10px 15px 10px 25px;
}

#graphContainer{
}

.facetLink{
}