<!DOCTYPE html>
<html> 
	<h3>Action</h3>
	
	<div>
		<span class="cwQuestion">Will Abby know what to do at this step?<br></span>
	
		<div class="responseBoxLabel">Yes</div>
		<div class="responseBoxLabel">No</div>
		<div class="responseBoxLabel">Maybe</div><br>
	
		<textarea class="responseBox" placeholder="Why?"></textarea>
		<textarea class="responseBox" placeholder="Why not?"></textarea>
		<textarea class="responseBox" placeholder="Why maybe?"></textarea>
	
		<span class="cwQuestion">Which of the persona's facets did you use to answer the above question?</span>
		
		<div>
			<input type="checkbox" value="Motivation"><span>Motivation</span><br>
			<input type="checkbox" value="Information Processing Style"><span>Information Processing Style</span><br>
			<input type="checkbox" value="Computer Self-Efficacies"><span>Computer Self-Efficacies</span><br>
			<input type="checkbox" value="Attitude Towards Risk"><span>Attitude Towards Risk</span><br>
			<input type="checkbox" value="Willingness to Tinker"><span>Willingness to Tinker</span><br><br>
		</div>
		
		<span class="cwQuestion">If Abby does the right thing, will she know that she did the right thing and is making progress toward her goal?<br></span>
	
		<div class="responseBoxLabel">Yes</div>
		<div class="responseBoxLabel">No</div>
		<div class="responseBoxLabel">Maybe</div><br>
	
		<textarea class="responseBox" placeholder="Why?"></textarea>
		<textarea class="responseBox" placeholder="Why not?"></textarea>
		<textarea class="responseBox" placeholder="Why maybe?"></textarea>
	
		<span class="cwQuestion">Which of the persona's facets did you use to answer the above question?</span>
		
		<div>
			<input type="checkbox" value="Motivation"><span>Motivation</span><br>
			<input type="checkbox" value="Information Processing Style"><span>Information Processing Style</span><br>
			<input type="checkbox" value="Computer Self-Efficacies"><span>Computer Self-Efficacies</span><br>
			<input type="checkbox" value="Attitude Towards Risk"><span>Attitude Towards Risk</span><br>
			<input type="checkbox" value="Willingness to Tinker"><span>Willingness to Tinker</span><br><br>
		</div>
		
	</div>
</html>