<!--For now, there's a lot of jQuery that depends on the structure of this html.
If you add levels or create nested elements, you might have to go back and refactor some of the code... -->

<!DOCTYPE html>
<html> 
	<h3>Action</h3>
	
	<div id="Content">
		<input id="remove" type="submit" class="removeAction" value="Remove Action"><br>
		
		<div class="instruction">
			<span class="preview">Before moving on...</span>
			
			<span class="complete"> Before moving on, click the screen capture button below.
				Then, perform this action on your screen.
				The button triggers an overlay that prevents the action from actually occurring.
				This way, the tool can capture your screen and highlight the element you clicked on.<br></span>
				
			<span class="moreOrLess">See More</span><br>
			
			<input type="submit" class="overlayTrigger" value="Capture This Action">
		</div>
		
		<span class="cwQuestion">Will Abby know what to do at this step?<br></span>
	
		<div id="Q1yes" class="responseBoxLabel">Yes</div>
		<div id="Q1no"class="responseBoxLabel">No</div>
		<div id="Q1maybe" class="responseBoxLabel">Maybe</div><br>
	
		<textarea id="Q1whyYes" class="responseBox" placeholder="Why?"></textarea>
		<textarea id="Q1whyNo" class="responseBox" placeholder="Why not?"></textarea>
		<textarea id="Q1whyMaybe" class="responseBox" placeholder="Why maybe?"></textarea><br>
	
		<span class="cwQuestion">Which of the persona's facets did you use to answer the above question?</span><br>
		
		<input id="Q1motiv" type="checkbox" value="Motivation"><span>Motivation</span><br>
		<input id="Q1info" type="checkbox" value="Information Processing Style"><span>Information Processing Style</span><br>
		<input id="Q1self" type="checkbox" value="Computer Self-Efficacies"><span>Computer Self-Efficacies</span><br>
		<input id="Q1risk" type="checkbox" value="Attitude Towards Risk"><span>Attitude Towards Risk</span><br>
		<input id="Q1tinker" type="checkbox" value="Willingness to Tinker"><span>Willingness to Tinker</span><br><br>
		
		<div class="instruction">Before you consider the following question, perform the ideal action.</div>
		
		<span class="cwQuestion">If Abby does the right thing, will she know that she did the right thing and is making progress toward her goal?<br></span>
	
		<div id="Q2yes" class="responseBoxLabel">Yes</div>
		<div id="Q2no" class="responseBoxLabel">No</div>
		<div id="Q2maybe" class="responseBoxLabel">Maybe</div><br>
	
		<textarea id="Q2whyYes" class="responseBox" placeholder="Why?"></textarea>
		<textarea id="Q2whyNo" class="responseBox" placeholder="Why not?"></textarea>
		<textarea id="Q2whyMaybe" class="responseBox" placeholder="Why maybe?"></textarea><br>
	
		<span class="cwQuestion">Which of the persona's facets did you use to answer the above question?</span>
		
		<input id="Q2motiv" type="checkbox" value="Motivation"><span>Motivation</span><br>
		<input id="Q2info" type="checkbox" value="Information Processing Style"><span>Information Processing Style</span><br>
		<input id="Q2self" type="checkbox" value="Computer Self-Efficacies"><span>Computer Self-Efficacies</span><br>
		<input id="Q2risk" type="checkbox" value="Attitude Towards Risk"><span>Attitude Towards Risk</span><br>
		<input id="Q2tinker" type="checkbox" value="Willingness to Tinker"><span>Willingness to Tinker</span><br><br>
		
	</div>
</html>